body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
#whatsapp img{
    height: 70px;
}
@media (max-width:380px){
    #whatsapp{
        bottom: 2px;
        right: 2px;
    }
}









/* Funcionamiento */
#funcionamiento{
    height: 170vh;
    width: 100%;    
    background: #fff;
    display: flex;    
    flex-direction: column;
    align-items: center;
}
#funcionamiento h1{
    font-size: 35px;
    text-align: center;
}

#funcionamiento .pasos{
    position: absolute;
    background-color: black;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    right: 42%;
    transform: translate(-50%,-50%);
    z-index: 20;
}
#funcionamiento .pasos p{
    color: #44CAE4;
    font-size: 30px;
    font-weight: 900;
}

#funcionamiento .contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 850px;
}
#funcionamiento .raya{
    position: absolute;
    width: 3px;
    height: 320%;
    background-color: black;
    top: -160px;
    left: 49.6%;
    z-index: 2 !important;
}

#funcionamiento .contenido{
    position: relative;
    left: 30px;
    width: 90%;
    height: 380px;
    top: 2px !important;
}
#funcionamiento .revelar{
    opacity: 0;
    transform: translateY(150px);
    transition: all 2s ease;
}

#funcionamiento .activo{
    transform: translateY(0px);
    opacity: 1;
    z-index: 20;
}


.pasos .imagen{
    left: 125px;
    top: -10px;
    position: absolute  ;
    height: 140px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pie-img{
    color: #000 !important;
    font-size: 15px !important;
    margin-top: 2px;

}

.dos .imagen{
    left: -220px;
} 

@media (max-width:615px) {
    .pasos .imagen{
        left: 70px;
        height: 140px;
        width: 155px;
        z-index: -10;
    }
    .pasos .contenido{
        right: 100px !important;
    }
    #funcionamiento{
        align-items: baseline;
    }
    #funcionamiento h1{
        padding: 10px 10px;
        font-size: 25px;
    }
    #funcionamiento .contenedor{
        width: 65%;
        align-items: baseline;
    }
    #funcionamiento img{
        height: 110px;
    }
    .computadora{
        height: 100px !important;
    }
}


#relleno{
    height: 100vh;
    width: 100%;    
    background-color: rgb(51, 50, 54);
    display: flex;
    
    flex-direction: column;
    align-items: center;
}



