html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(255,255,255,1) 28%);  
}


/********Scrollbar**************************************************/

body::-webkit-scrollbar{
    width: 15px;
    background-color: #e2e2e275;

}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #024222 25%, #02421571 100%);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom, #02331c 25%, #033f0b71 100%);
    transition: all 1s ease-in-out;
    
}    

#popup::-webkit-scrollbar{
    width: 15px;
    background-color: #e2e2e200;

}
#popup::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #024222 25%, #02421571 100%);
    border-radius: 10px;
}
#popup::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom, #02331c 25%, #033f0b71 100%);
    transition: all 1s ease-in-out;
    
} 

/**************************NAV-BAR*********************************/
#nav-menu a{
    text-decoration: none;
    color: #fff;

}
#navegacion{
    z-index: 200;
}
#navegacion img{
    height: 55px;
    padding-top: 10px;
}


/**************************Intro**********************************/

.contenedor-intro{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 110vh;
    width: 100%;
    padding: 0;
    background-size:100%;
    background-position: center;
    background-attachment: fixed;
    transition: all 1s ease-in-out;
    background-color: linear-gradient(to top, #e0e0e091 0%, hsla(138, 84%, 48%, 0.459) 50%);
    animation: banner 20s infinite linear;
    
} 

.background{
    background-color: #dffae95d;
    position: absolute;
    width: 100%;
    height: 100%;

}

@keyframes banner {
    0%{
        background-image: url(../img/pexels-photo-6801648.jpeg);
    }
    33%{
        background-image: url(../img/pexels-photo-6801648.jpeg);
    }
    34%{
        background-image: url(../img/banner1.jpg);
    }
    66%{
        background-image: url(../img/banner1.jpg);
    }
    67%{
        background-image: url(../img/pexels2.jpeg);
    }
    100%{
        background-image: url(../img/pexels2.jpeg);
    }
}


.intro-texto{
    background-image: linear-gradient(to top, #cececee5 0%, #ffffffc7 100%);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(12, 12, 12);
   
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 7px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 0px 14px -4px rgba(0,0,0,0.75);
}

.intro-texto h1{
    font-size: 64px;
    padding-left: 1.5rem;
    margin-top: 5rem;
}

.intro-texto p{
    padding-left: 1.5rem;
    margin-top: 3rem;
    margin-right: 2rem;
    font-size: 22px;
}

.figura{
    transition: all 1.5s ease-in-out;
    width: 30%;
    height: 50%;
}

.ocultar-figura{
    transition: all 1.5s ease-in-out;
    opacity: 0;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    margin-right: 2rem;
    
}

.botones button{
    width: 40%;
    height: 250%;
    border-radius: 0.8rem;
    border-style: none;
    background-color: rgba(34, 168, 105, 0.849);
    font-size: 16px;
    color: rgb(240, 240, 240);
    transition: all 0.3s ease-in-out;
}

.botones button:hover{
    background-color: rgba(24, 124, 78, 0.849);
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0, 95, 48, 0.801);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0, 95, 48, 0.801);
    box-shadow: 2px 4px 25px -6px rgba(0, 95, 48, 0.801);
    transform: scale(1.03);
    cursor: pointer;
}

@media (max-width:992px){
    .intro-texto{
        width: 70%;
        justify-content: flex-start;
        
    }

    .intro-texto h1{
        margin-top: 7rem;
        font-size:48px;
    }

    .intro-texto p{
        
        margin-top: 2rem;
        margin-right: 2rem;
    }
    

    .botones{
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        
    }
    .botones button{
        width: 90%;
        height: 40px;
        margin-top: 1.5rem;
        border-radius: 0.5rem;
    }
}

@media (max-width:576px){
    .intro-texto h1{
        font-size:36px;
    }
    .contenedor-intro{
        height: 150vh;
    }
}

@media (max-width:350px){
    .intro-texto {
        justify-content: flex-start;
    }
    .intro-texto h1{
        margin-top: 4rem;
        font-size:22px;
    }
    .intro-texto p{
        margin-top: 1rem;
    }
    .botones button{
        margin-top: 0.8rem;
    }
}

@media (max-width:290px){
    .intro-texto h1{
        font-size:22px;
        margin-top: 5rem;
}

.contenedor-intro{
    height: 150vh;
}

}

#whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
#whatsapp img{
    height: 70px;
    transition: 0.6s;
}
#whatsapp img:hover{
    transform: scale(1.3);
}
@media (max-width:380px){
    #whatsapp{
        bottom: 2px;
        right: 2px;
    }
}










/*******************************Caracteristicas************************************/
.contenedor-caracteristicas{
    display: grid;
    justify-content: center;
    grid-template-columns: 35% 35%;
    height: 100vh;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    gap:1rem;
}

.contenedor-caracteristicas h2{
    color: #e9e9e9;
    margin-top: 3rem;
    grid-column: 1/3;
    justify-self: center;
    font-size: 36px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.contenedor-caracteristicas .figura{
    width: 50%;
    justify-self: center;
    text-align: center;
    color: #e9e9e9;
}

.contenedor-caracteristicas svg{
    width: 100%;
    justify-self: center;
}

.revelarCaracteristica{
    opacity: 0;
    transform: translateY(150px);
    transition: all 1s ease;
}


@media (max-width:778px){
    .contenedor-caracteristicas{
        height: 280vh;
        row-gap: 2rem;
    }
    .contenedor-caracteristicas .figura{
        grid-column: 1/3;
        font-size: 22px;
        width: 100%;
    }
    .contenedor-caracteristicas h2{
        font-size: 25px;
        width: 115%;
    }
}

@media (max-width:290px){
    .contenedor-caracteristicas{
        height: 350vh;
    }
}



/******************************** Funcionamiento **********************************/
#funcionamiento{
    margin-top: 30px;
    margin-bottom: 150px;
    width: 100%;    
    background: rgba(255, 255, 255);
    display: flex;    
    flex-direction: column;
    align-items: center;
}
#funcionamiento h1{
    margin-top: 0px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 0;
}

#funcionamiento .pasos{
    position: absolute;
    background-color: black;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    right: 42%;
    transform: translate(-50%,-50%);
    z-index: 20;
}
#funcionamiento .pasos p{
    color: #00b341;
    font-size: 30px;
    font-weight: 900;
}

#funcionamiento .contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    width: 250px;
    height: 850px;
}
#funcionamiento .raya{
    position: absolute;
    width: 3px;
    height: 320%;
    background-color: black;
    top: -160px;
    left: 49.6%;
    z-index: 2 !important;
}

#funcionamiento .contenido{
    position: relative;
    left: 30px;
    width: 90%;
    height: 380px;
    top: 2px !important;
}
.revelar{
    opacity: 0;
    transform: translateY(150px);
    transition: all 2s ease;
}

 .activo{
    transform: translateY(0px);
    opacity: 1;
    z-index: 20;
}




.pasos .imagen{
    left: 125px;
    top: -10px;
    position: absolute  ;
    height: 140px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pie-img{
    color: #000 !important;
    font-size: 15px !important;
    margin-top: 2px;

}

.dos .imagen{
    left: -220px;
} 

@media (max-width:615px) {
    .pasos .imagen{
        left: 70px;
        height: 140px;
        width: 155px;
        z-index: -10;
    }
    .pasos .contenido{
        right: 100px !important;
    }
    #funcionamiento{
        align-items: baseline;    
        margin-bottom: 20%;
    }
    #funcionamiento h1{
        padding: 10px 10px;
        font-size: 25px;
    }
    #funcionamiento .contenedor{
        width: 65%;
        align-items: baseline;
    }
    #funcionamiento img{
        height: 110px;
    }
    .computadora{
        height: 100px !important;
    }
}








/****************Opiniones********************/
#opiniones{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    padding-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    overflow: hidden;
}


#opiniones .contenido{
    margin-left: 20px;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.swiper-container h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
  .swiper-slide {
    width: 304px !important;
    filter: blur(2px);
  }

  .swiper-slide-active{
    filter: blur(0px);
}

#opiniones .comentario{
    position: relative;
    height: 270px;
    width: 340px;    
    border-radius: 15px;
    left: -4%;
    background: rgba(255, 255, 255, 1);
    /* border: 2px solid #000; */
    border: 2px solid #086d2d;
    backdrop-filter: blur(6px);
    transition: all 0.5s ease-in-out;
}

#opiniones .comentario:hover{
    transition: all 0.5s ease-in-out;
    background: rgba(237, 243, 235, 1);
}

#opiniones .comillas{
    position: absolute;
    height:80px !important;
    top: 0;
    right: 0;
}
#opiniones p{
    color: #000;
    width: 65%;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#opiniones h4{
    /* color: rgb(21, 6, 107); */
    color: rgb(4, 63, 29);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
}
#opiniones h5{
    color: rgb(46, 45, 45);
    font-size: 13px;
}

#opiniones img{
    border-radius: 50%;
    height: 80px;
    margin-right: 5%;
}

#opiniones .persona{
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
}
#opiniones h1{
    padding-bottom: 30px;
    font-size: 35px;
    color: #fff;
}


@media (max-width:400px) {
    #opiniones h1{
        font-size: 25px;
    }
    #opiniones .comentario{
        height: 300px;
        width: 290px; 
        left: 1%;  
    }
    #opiniones p{
        color: #000;
        width: 60%;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}








/****************FOOTER********************/
footer{
    position: relative;
    /* background-color: rgb(26, 23, 23); */
    background: linear-gradient(to bottom, #252525 0%, #141414 40%, #000000 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    width: 100%;
}

footer .contenedor{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 35% 20% 35%;
    gap: 5%;
}

footer .contenedor  h2{
    position: relative;
    color: #fff;
    margin-bottom: 10px;
}
footer p{
    color: rgb(211, 211, 211);
    margin-bottom: 10px;
}

footer img{
    transform: rotate(0deg);
    transition: 1s;
}
footer img:hover{
    transform: rotate(360deg);
}

footer .contenedor h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #00b341;

}
.sci{
    display: flex;
}
footer li{
    list-style: none;
    padding-bottom: 5px;
}
.sci li a{
    display: inline-block;
    width: 40px;
    text-decoration: none;
}
.info a{
    text-decoration: none;
    color: #ffffffc7;
}

.general#blur.active{
    filter: blur(20px);
}

#popup{
    position: fixed;
    top: -30%;
    left: 10%;
    background-color: rgba(243, 255, 242, 0.86);
    backdrop-filter: blur(6px);
    width: 80%;
    height: 80%;
    padding: 15px 15px;
    border-radius: 15px;
    z-index: 201;
    overflow-y: scroll;
    /* border: 2px solid #000; */
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    top: 12%;
}

#popup .titulo-ap{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

#popup p{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#popup a{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    background: #ca3535c7;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 14px;
}

@media (max-width:785px){
    #popup .titulo-ap{
        font-size: 25px;
        font-weight: 900;
        padding-bottom: 10px;
    }
    #popup a{
        font-size: 20px;
    }
    footer{
        height: 95vh;
    }
    footer .contenedor{
        padding-left: 10%;
        display: grid;
        grid-template-columns: 90%;
    }
}